body{
    height: 100vh;
    background-image: linear-gradient(
        to bottom,
        #359589 0vh, 
        #359589 15vh,
        #dadbd5  15vh,
        #dadbd5  100vh);
}

img{
    height: 50px;
    width: auto;
}

.bg_chat{
    background-image: url("./images/mine.jpg");
    height: 100vh;
}

.bg_avatars{
    background-color: #e9eaed; 
}

.bg_bell{
    background-color: #99dafd;
}

p{
    margin-bottom: 0;
}

ul {
    list-style-type: none;
}

.inviato{
    background-color: #d8f8bf;
    width: 50%;
    border-radius: 15px;
}

.ricevuto{
    background-color: whitesmoke;
    width: 50%;
    border-radius: 15px;
}
